.containerAboutHelpContact {
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
}

.sycuresLogoGameAboutHelpContact {
    position: absolute;
    height: auto;
    right: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.backButtonAboutHelpContact {
    position: absolute;
    top: 2%;
    background: url('../Photos/BackButtonImage2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    border-radius: 16px;
    transition: transform .4s ease;
}

.backButtonAboutHelpContact:hover {
    transform: scale(1.1);
    filter: brightness(70%);
}

.whiteBoxBG {
    position: relative;
    background-color: rgba(27, 122, 143, 0.6);
    width: 100vw;
    margin-top: 17%;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: visible;
}

.whiteBox {
    position: relative;
    background-color: #B1D4DC;
    border-radius: 50px;
    margin-top: 0%;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
    overflow-y: auto;
}

.whiteBox1 {
    position: absolute;
    background-color: #B1D4DC;
    border-radius: 50px 0px 0px 50px;
    margin-top: 0%;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
}

.contact-robot {
    position: absolute;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blueBox {
    position: absolute;
    background-color: #1F144B;
    border-radius: 0px 50px 50px 0px;
    left: 50%;
    margin-top: 0%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
}

.blueBox h1 {
    position: relative;
    text-align: center;
    font-family: 'Jockey One';
    font-weight: bold;
    color: #FFFFFF;
}

.contactInfo {
    display: flex;
    flex-direction: column;
}

.contactRow {
    display: flex;
    align-items: center;
}

.contactRow p {
    color: #FFFFFF;
    font-family: 'Jockey One';
}

.envelope {
    position: relative;
    height: auto;
    margin-right: 8%;
}

.phone {
    position: relative;
    height: auto;
    margin-right: 8%;
}

.title {
    position: relative;
    text-align: center;
    font-family: 'Jockey One';
    font-weight: bold;
    color: #1F144B;
}

.text {
    height: auto;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: auto;
    font-family: 'Jockey One';
    color: #1F144B;
    padding: 2% 6%;
}

/* Styles for screens(xs) */
@media screen and (max-width: 639px) {
    .sycuresLogoGameAboutHelpContact {
        width: 67dvw;
        top: 3%;
    }

    .backButtonAboutHelpContact {
        left: 2%;
        width: 14vw;
        height: 6vh;
    }

    .whiteBoxBG {
        height: 50vh;
    }

    .whiteBox {
        height: 60vh;
        width: 90vw;
    }

    .whiteBox1 {
        width: 45vw;
        height: 60vh;
    }

    .contact-robot {
        width: 35vw;
    }

    .blueBox {
        width: 45vw;
        height: 60vh;
    }

    .blueBox h1 {
        font-size: 1.4rem;
        margin-top: 90%;
        margin-right: 0%;
    }

    .contactRow {
        margin-top: 15%;
    }

    .contactRow p {
        font-size: .7rem;
    }

    .envelope {
        width: 3vw;
        margin-left: 5%;
    }

    .phone {
        width: 3vw;
        margin-left: 5%;
    }

    .title {
        font-size: 3rem;
        margin-top: 0%;
        margin-bottom: 1%;
    }

    .text {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
}

/* Styles for screens(sm) */
@media screen and (min-width: 640px) {
    .sycuresLogoGameAboutHelpContact {
        width: 50vw;
        top: 3%;
    }

    .backButtonAboutHelpContact {
        left: 2%;
        width: 13vw;
        height: 9vh;
    }

    .whiteBoxBG {
        height: 50vh;
    }

    .whiteBox {
        height: 60vh;
        width: 70vw;
    }

    .whiteBox1 {
        width: 35vw;
        height: 60vh;
    }

    .contact-robot {
        width: 35vw;
    }

    .blueBox {
        width: 35vw;
        height: 60vh;
    }

    .blueBox h1 {
        font-size: 2rem;
        margin-top: 70%;
        margin-right: 10%;
    }

    .contactRow {
        margin-top: 15%;
    }

    .contactRow p {
        font-size: 1rem;
    }

    .envelope {
        width: 4vw;
        margin-left: 10%;
    }

    .phone {
        width: 4vw;
        margin-left: 10%;
    }

    .title {
        font-size: 3rem;
        margin-top: 2%;
        margin-bottom: 6%;
    }

    .text {
        font-size: 1.7rem;
        line-height: 2rem;
    }
}

/* Styles for screens(md) */
@media screen and (min-width: 768px) {
    .sycuresLogoGameAboutHelpContact {
        width: 44vw;
        top: 3%;
    }

    .backButtonAboutHelpContact {
        left: 2%;
        width: 11vw;
        height: 9vh;
    }

    .whiteBoxBG {
        height: 50vh;
    }

    .whiteBox {
        height: 60vh;
        width: 70vw;
    }

    .whiteBox1 {
        width: 35vw;
        height: 60vh;
    }

    .contact-robot {
        width: 35vw;
    }

    .blueBox {
        width: 35vw;
        height: 60vh;
    }

    .blueBox h1 {
        font-size: 2.5rem;
        margin-top: 50%;
        margin-right: 10%;
    }

    .contactRow {
        margin-top: 15%;
    }

    .contactRow p {
        font-size: 1rem;
    }

    .envelope {
        width: 4vw;
        margin-left: 10%;
    }

    .phone {
        width: 4vw;
        margin-left: 10%;
    }

    .title {
        font-size: 3.2rem;
        margin-top: 2%;
        margin-bottom: 6%;
    }

    .text {
        font-size: 1.7rem;
        line-height: 2rem;
    }
}

/* Styles for screens(lg) */
@media screen and (min-width: 1024px) {
    .sycuresLogoGameAboutHelpContact {
        width: 36vw;
        top: 3%;
    }

    .backButtonAboutHelpContact {
        left: 2%;
        width: 9vw;
        height: 9vh;
    }

    .whiteBoxBG {
        height: 50vh;
    }

    .whiteBox {
        height: 60vh;
        width: 70vw;
    }

    .whiteBox1 {
        width: 35vw;
        height: 60vh;
    }

    .contact-robot {
        width: 35vw;
    }

    .blueBox {
        width: 35vw;
        height: 60vh;
    }

    .blueBox h1 {
        font-size: 3rem;
        margin-top: 35%;
        margin-right: 15%;
    }

    .contactRow {
        margin-top: 15%;
    }

    .contactRow p {
        font-size: 1rem;
    }

    .envelope {
        width: 3vw;
        margin-left: 10%;
    }

    .phone {
        width: 3vw;
        margin-left: 10%;
    }

    .title {
        font-size: 3.6rem;
        margin-top: 2%;
        margin-bottom: 6%;
    }

    .text {
        font-size: 1.9rem;
        line-height: 2.5rem;
    }
}

/* Styles for screens(xl) */
@media screen and (min-width: 1280px) {
    .sycuresLogoGameAboutHelpContact {
        width: 32vw;
        top: 3%;
    }

    .backButtonAboutHelpContact {
        left: 1%;
        width: 8vw;
        height: 10vh;
    }

    .whiteBoxBG {
        height: 50vh;
    }

    .whiteBox {
        height: 60vh;
        width: 70vw;
    }

    .whiteBox1 {
        width: 35vw;
        height: 60vh;
    }

    .contact-robot {
        width: 35vw;
    }

    .blueBox {
        width: 35vw;
        height: 60vh;
    }

    .blueBox h1 {
        font-size: 3rem;
        margin-top: 20%;
        margin-right: 25%;
    }

    .contactRow {
        margin-top: 15%;
    }

    .contactRow p {
        font-size: 1rem;
    }

    .envelope {
        width: 3vw;
        margin-left: 10%;
    }

    .phone {
        width: 3vw;
        margin-left: 10%;
    }

    .title {
        font-size: 3.7rem;
        margin-top: 2%;
        margin-bottom: 6%;
    }

    .text {
        font-size: 1.9rem;
        line-height: 2.7rem;
    }
}

/* Styles for screens(2xl) */
@media screen and (min-width: 1536px) {
    .sycuresLogoGameAboutHelpContact {
        width: 30vw;
        top: 0%;
    }

    .backButtonAboutHelpContact {
        left: 1%;
        width: 7vw;
        height: 11vh;
    }

    .whiteBoxBG {
        height: 55vh;
    }

    .whiteBox {
        height: 63vh;
        width: 70vw;
    }

    .whiteBox1 {
        width: 35vw;
        height: 65vh;
    }

    .contact-robot {
        width: 35vw;
    }

    .blueBox {
        width: 35vw;
        height: 65vh;
    }

    .blueBox h1 {
        font-size: 4rem;
        margin-top: 23%;
        margin-right: 20%;
    }

    .contactRow {
        margin-top: 8%;
    }

    .contactRow p {
        font-size: 2rem;
    }

    .envelope {
        width: 3vw;
        margin-left: 10%;
    }

    .phone {
        width: 3vw;
        margin-left: 10%;
    }

    .title {
        font-size: 4rem;
        margin-top: 3%;
        margin-bottom: 1%;
    }

    .text {
        font-size: 2.1rem;
        line-height: 4rem;
    }
}

/* Styles for screens(3xl) */
@media screen and (min-width: 1800px) {
    .sycuresLogoGameAboutHelpContact {
        width: 28dvw;
        top: 0%;
    }

    .backButtonAboutHelpContact {
        left: 1%;
        width: 5.5dvw;
        height: 10dvh;
    }

    .whiteBoxBG {
        height: 55vh;
    }

    .whiteBox {
        height: 63vh;
        width: 70vw;
    }

    .whiteBox1 {
        width: 35vw;
        height: 65vh;
    }

    .contact-robot {
        width: 30vw;
    }

    .blueBox {
        width: 35vw;
        height: 65vh;
    }

    .blueBox h1 {
        font-size: 4rem;
        margin-top: 18%;
        margin-right: 35%;
    }

    .contactRow {
        margin-top: 8%;
    }

    .contactRow p {
        font-size: 2rem;
    }

    .envelope {
        width: 3vw;
        margin-left: 10%;
    }

    .phone {
        width: 3vw;
        margin-left: 10%;
    }

    .title {
        font-size: 4rem;
        margin-top: 3%;
        margin-bottom: 1%;
    }

    .text {
        font-size: 2.1rem;
        line-height: 4rem;
    }
}