/* Styles for screens(xs) */
@media screen and (max-width: 639px) {
.back-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-modal-content {
  position: relative;
  height: 20vh;
  width: 80vw;
  color: #1F144B;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Jockey One';
  font-weight: bold;
}

.back-modal-content p{
  position: relative;
  height: auto;
  width: 80vw;
  margin-top: 10%;
  color: #1F144B;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Jockey One';
  font-weight: bold;
}

.back-modal-button-container {
  margin-top: 25px;
}

.back-modal-button-container button {
  position: relative;
  margin: 0 20px;
  padding: 0%;
  border: none;
  border-radius: 10px;
  background-color: #1F144B;
  color: white;
  cursor: pointer;
  width: 24vw;
  height: 5vh;
  font-size: 15px;
  transition: transform 0.4s ease;
}

.back-modal-button-container button:hover {
  transform: scale(1.1); 
  filter: brightness(70%);
}
}

/* Styles for screens(sm) */
@media screen and (min-width: 640px) {
.back-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-modal-content {
  position: relative;
  height: 20vh;
  width: 82vw;
  color: #1F144B;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Jockey One';
  font-weight: bold;
}

.back-modal-content p{
  position: relative;
  height: auto;
  width: 80vw;
  margin-top: 5%;
  color: #1F144B;
  text-align: center;
  font-size: 2rem;
  font-family: 'Jockey One';
  font-weight: bold;
}

.back-modal-button-container {
  margin-top: 9%;
}

.back-modal-button-container button {
  position: relative;
  margin: 0 30px;
  padding: 0%;
  border: none;
  border-radius: 10px;
  background-color: #1F144B;
  color: white;
  cursor: pointer;
  width: 20vw;
  height: 4vh;
  font-size: 1.5rem;
  transition: transform 0.4s ease;
}

.back-modal-button-container button:hover {
  transform: scale(1.1); 
  filter: brightness(70%);
}
}

/* Styles for screens(md) */
@media screen and (min-width: 768px) {
.back-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-modal-content {
  position: relative;
  height: 24vh;
  width: 82vw;
  color: #1F144B;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Jockey One';
  font-weight: bold;
}

.back-modal-content p{
  position: relative;
  height: auto;
  width: 80vw;
  margin-top: 6%;
  color: #1F144B;
  text-align: center;
  font-size: 2.3rem;
  font-family: 'Jockey One';
  font-weight: bold;
}

.back-modal-button-container {
  margin-top: 9%;
}

.back-modal-button-container button {
  position: relative;
  margin: 0 25px;
  padding: 0%;
  border: none;
  border-radius: 10px;
  background-color: #1F144B;
  color: white;
  cursor: pointer;
  width: 24vw;
  height: 5vh;
  font-size: 1.5rem;
  transition: transform 0.4s ease;
}

.back-modal-button-container button:hover {
  transform: scale(1.1); 
  filter: brightness(70%);
}
}

/* Styles for screens(lg) */
@media screen and (min-width: 1024px) {
.back-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-modal-content {
  position: relative;
  height: 25vh;
  width: 80vw;
  color: #1F144B;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Jockey One';
  font-weight: bold;
}

.back-modal-content p{
  position: relative;
  height: auto;
  width: 80vw;
  margin-top: 3%;
  color: #1F144B;
  text-align: center;
  font-size: 2.7rem;
  font-family: 'Jockey One';
  font-weight: bold;
}

.back-modal-button-container {
  margin-top: 8%;
}

.back-modal-button-container button {
  position: relative;
  margin: 0 60px;
  padding: 0%;
  border: none;
  border-radius: 10px;
  background-color: #1F144B;
  color: white;
  cursor: pointer;
  width: 18vw;
  height: 5vh;
  font-size: 1.5rem;
  transition: transform 0.4s ease;
}

.back-modal-button-container button:hover {
  transform: scale(1.1); 
  filter: brightness(70%);
}
}

/* Styles for screens(xl) */
@media screen and (min-width: 1280px) {
.back-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-modal-content {
  position: relative;
  height: 27vh;
  width: 60vw;
  color: #1F144B;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Jockey One';
  font-weight: bold;
}

.back-modal-content p{
  position: relative;
  height: auto;
  width: auto;
  margin-top: 4%;
  color: #1F144B;
  text-align: center;
  font-size: 2.7rem;
  font-family: 'Jockey One';
  font-weight: bold;
}

.back-modal-button-container {
  margin-top: 10%;
}

.back-modal-button-container button {
  position: relative;
  margin: 0 60px;
  padding: 0%;
  border: none;
  border-radius: 10px;
  background-color: #1F144B;
  color: white;
  cursor: pointer;
  width: 14vw;
  height: 5vh;
  font-size: 1.5rem;
  transition: transform 0.4s ease;
}

.back-modal-button-container button:hover {
  transform: scale(1.1); 
  filter: brightness(70%);
}
}
  
/* Styles for screens(2xl) */
@media screen and (min-width: 1536px) {
.back-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-modal-content {
  position: relative;
  height: 28vh;
  width: 50vw;
  color: #1F144B;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-size: 45px;
  font-family: 'Jockey One';
  font-weight: bold;
}

.back-modal-content p{
  position: relative;
  height: auto;
  width: auto;
  margin-top: 3%;
  margin-bottom: 9%;
  color: #1F144B;
  text-align: center;
  font-size: 2.7rem;
  font-family: 'Jockey One';
  font-weight: bold;
}

.back-modal-button-container {
  margin-top: 60px;
}

.back-modal-button-container button {
  position: relative;
  margin: 0 70px;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background-color: #1F144B;
  color: white;
  cursor: pointer;
  width: 12vw;
  height: auto;
  font-size: 1.5rem;
  transition: transform 0.4s ease;
}

.back-modal-button-container button:hover {
  transform: scale(1.1); 
  filter: brightness(70%);
}
}

/* Styles for screens(3xl) */
@media screen and (min-width: 1920px) {
  .back-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .back-modal-content {
    position: relative;
    height: 28vh;
    width: 50vw;
    color: #1F144B;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 45px;
    font-family: 'Jockey One';
    font-weight: bold;
  }
  
  .back-modal-content p{
    position: relative;
    height: auto;
    width: auto;
    margin-top: 3%;
    margin-bottom: 8%;
    color: #1F144B;
    text-align: center;
    font-size: 3.3rem;
    font-family: 'Jockey One';
    font-weight: bold;
  }
  
  .back-modal-button-container {
    margin-top: 60px;
  }
  
  .back-modal-button-container button {
    position: relative;
    margin: 0 70px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #1F144B;
    color: white;
    cursor: pointer;
    width: 11vw;
    height: auto;
    font-size: 1.5rem;
    transition: transform 0.4s ease;
  }
  
  .back-modal-button-container button:hover {
    transform: scale(1.1); 
    filter: brightness(70%);
  }
  }