.popup-statistic {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background-color: #FFFFFF;
    text-align: center;
    margin: 0;
    font-size: 3rem;
    font-family: 'Jockey One';
    color: #1F144B;
    animation: fadeIn 0.7s;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
    border: 4px solid #1F144B;
    border-radius: 16px;
    z-index: 900;
}

.abc-badge {
    width: auto;
    height: auto;
    position: absolute;
    right: 0%;
    background: transparent;
    z-index: 1000;
    border-radius: 16px;
}

.basic-badge {
    position: relative;
    background: url('./Photos/basicBadge.png');
    background-size: cover;
    width: 70px;
    height: 70px;
    right: 0%;
    border: none;
    transition: transform .4s ease;
    z-index: 1000;
}

.communication-badge {
    position: relative;
    background: url('./Photos/communicationBadge.png');
    background-size: cover;
    width: 70px;
    height: 70px;
    right: 0%;
    border: none;
    cursor: pointer;
    transition: transform .4s ease;
    z-index: 1000;
}

.information-badge {
    position: relative;
    background: url('./Photos/informationBadge.png');
    background-size: cover;
    width: 70px;
    height: 70px;
    right: 0%;
    border: none;
    cursor: pointer;
    transition: transform .4s ease;
    z-index: 1000;
}

.internet-badge {
    position: relative;
    background: url('./Photos/internetBadge.png');
    background-size: cover;
    width: 70px;
    height: 70px;
    right: 0%;
    border: none;
    cursor: pointer;
    transition: transform .4s ease;
    z-index: 1000;
}

.box-statistic1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, #999999, #2CCCD7);
    text-align: center;
    margin: 0;
    font-size: 3rem;
    font-family: 'Jockey One';
    color: #1F144B;
    animation: fadeIn 0.7s;
    border: 4px solid #1F144B;
    border-radius: 16px;
    z-index: 1000;
}

.basic-badge,
.communication-badge,
.information-badge,
.internet-badge {
    position: relative;
    background-size: cover;
    border: none;
    cursor: pointer;
    transition: transform .4s ease;
    z-index: 1000;
    margin-right: 15px;
}

.box-statistic1-label {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 7vh;
    background-color: #1F144B;
    text-align: center;
    font-size: 2.3rem;
    font-family: 'Jockey One';
    color: #FFFFFF;
    animation: fadeIn 0.7s;
    border: 4px solid #1F144B;
    border-radius: 16px 16px 0px 0px;
}

.box-statistic1-label p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Jockey One';
    color: #FFFFFF;
    animation: fadeIn 0.7s;
    border: 4px solid #1F144B;
    border-radius: 16px 16px 0px 0px;
}

.box-statistic1-label img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 0.7s;
}

.box-statistic2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    text-align: center;
    margin: 0;
    font-size: 1.1rem;
    font-family: 'Jockey One';
    color: #1F144B;
    animation: fadeIn 0.7s;
    cursor: pointer;
    border: 4px solid #1F144B;
    border-radius: 16px;
}

.box-statistic2 div {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 12vh;
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-family: 'Jockey One';
    color: #000000;
    animation: fadeIn 0.7s;
}

.box-statistic2 p {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 16vh;
    text-align: center;
    justify-content: center;
    margin: 0;
    font-weight: 700;
    font-family: 'Jockey One';
    color: #000000;
    animation: fadeIn 0.7s;
    border-radius: 16px;
}

.okay-button-statistic {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1F144B;
    text-align: center;
    margin: 0;
    font-family: 'Jockey One';
    color: #FFFFFF;
    animation: fadeIn 0.7s;
    cursor: pointer;
    border: 4px solid #1F144B;
    border-radius: 16px;
}

/* Styles for screens(xs) */
@media screen and (max-width: 639px) {
    .popup-statistic {
        width: 35vw;
        height: 35vh;
    }

    .abc-badge {
        top: 3.5%;
        right: 0%;
    }

    .box-statistic1 {
        top: 31%;
        width: 75vw;
        height: 30vh;
    }

    .basic-badge,
    .communication-badge,
    .information-badge,
    .internet-badge {
        width: 40px;
        height: 40px;
        right: 0%;
        margin-top: -12%;
    }

    .box-statistic1-label {
        width: 75vw;
    }

    .box-statistic1-label p {
        top: 8%;
        width: 75vw;
        height: 3vh;
        font-size: 1.3rem;
    }

    .box-statistic1-label img {
        width: 50%;
        top: 275%;
    }

    .box-statistic2 {
        top: 73%;
        width: 75vw;
        height: 12vh;
    }

    .box-statistic2 div {
        top: 50%;
        width: 75vw;
        font-size: 1.2rem;
    }

    .box-statistic2 p {
        top: 0%;
        width: auto;
        font-size: 0.6rem;
    }

    .okay-button-statistic {
        top: 93%;
        width: 30vw;
        height: auto;
        font-size: 1.2rem;
    }
}

/* Styles for screens(sm) */
@media screen and (min-width: 640px) {
    .popup-statistic {
        width: 35vw;
        height: 45vh;
    }

    .abc-badge {
        top: 3.5%;
        right: 2%;
    }

    .box-statistic1 {
        top: 30%;
        width: 58vw;
        height: 30vh;
    }

    .basic-badge,
    .communication-badge,
    .information-badge,
    .internet-badge {
        width: 40px;
        height: 40px;
        margin-top: 20%;
        right: 0%;
    }

    .box-statistic1-label {
        width: 58vw;
    }

    .box-statistic1-label p {
        top: 8%;
        width: 58vw;
        height: 3vh;
        font-size: 1.5rem;
    }

    .box-statistic1-label img {
        width: 45%;
        top: 275%;
    }

    .box-statistic2 {
        top: 70%;
        width: 58vw;
        height: 12vh;
    }

    .box-statistic2 div {
        top: 50%;
        ;
        width: 75vw;
        font-size: 1.2rem;
    }

    .box-statistic2 p {
        top: 0%;
        width: auto;
        font-size: 0.8rem;
    }

    .okay-button-statistic {
        top: 91%;
        width: 30vw;
        height: auto;
        font-size: 1.7rem;
    }
}

/* Styles for screens(md) */
@media screen and (min-width: 768px) {
    .popup-statistic {
        width: 38vw;
        height: 48vh;
    }

    .abc-badge {
        top: 3.5%;
        right: 2%;
    }

    .box-statistic1 {
        top: 30%;
        width: 56vw;
        height: 30vh;
    }

    .basic-badge,
    .communication-badge,
    .information-badge,
    .internet-badge {
        width: 50px;
        height: 50px;
        right: 0%;
    }

    .box-statistic1-label {
        width: 56vw;
    }

    .box-statistic1-label p {
        top: 8%;
        width: 56vw;
        height: 3vh;
        font-size: 1.5rem;
    }

    .box-statistic1-label img {
        width: 40%;
        top: 275%;
    }

    .box-statistic2 {
        top: 70%;
        width: 56vw;
        height: 12vh;
    }

    .box-statistic2 div {
        top: 50%;
        width: 75vw;
        font-size: 1.2rem;
    }

    .box-statistic2 p {
        top: 10%;
        width: auto;
        font-size: 0.8rem;
    }

    .okay-button-statistic {
        top: 91%;
        width: 30vw;
        height: auto;
        font-size: 1.7rem;
    }
}

/* Styles for screens(lg) */
@media screen and (min-width: 1024px) {
    .popup-statistic {
        width: 42vw;
        height: 58vh;
    }

    .abc-badge {
        top: 0.5%;
        right: 1%;
    }

    .box-statistic1 {
        top: 32%;
        width: 53vw;
        height: 40vh;
    }

    .basic-badge,
    .communication-badge,
    .information-badge,
    .internet-badge {
        width: 55px;
        height: 55px;
        right: 0%;
    }

    .box-statistic1-label {
        width: 53vw;
    }

    .box-statistic1-label p {
        top: 8%;
        width: 53vw;
        height: 3vh;
        font-size: 1.7rem;
    }

    .box-statistic1-label img {
        width: 45%;
        top: 338%;
    }

    .box-statistic2 {
        top: 73%;
        width: 53vw;
        height: 14vh;
    }

    .box-statistic2 div {
        top: 50%;
        width: 75vw;
        font-size: 1.5rem;
    }

    .box-statistic2 p {
        top: 17%;
        width: auto;
        font-size: .9rem;
    }

    .okay-button-statistic {
        top: 93%;
        width: 25vw;
        height: auto;
        font-size: 2rem;
    }
}

/* Styles for screens(xl) */
@media screen and (min-width: 1280px) {
    .popup-statistic {
        width: 40vw;
        height: 66vh;
    }

    .abc-badge {
        top: 0%;
        right: 1%;
    }

    .box-statistic1 {
        top: 31%;
        width: 49vw;
        height: 45vh;
    }

    .basic-badge,
    .communication-badge,
    .information-badge,
    .internet-badge {
        width: 55px;
        height: 55px;
        right: 0%;
    }

    .box-statistic1-label {
        width: 49vw;
    }

    .box-statistic1-label p {
        top: -10%;
        width: 49vw;
        height: 3vh;
        font-size: 2rem;
    }

    .box-statistic1-label img {
        width: 45%;
        top: 373%;
    }

    .box-statistic2 {
        top: 73%;
        width: 49vw;
        height: 15vh;
    }

    .box-statistic2 div {
        top: 42%;
        width: 75vw;
        font-size: 1.7rem;
    }

    .box-statistic2 p {
        top: 17%;
        width: auto;
        font-size: 1rem;
    }

    .okay-button-statistic {
        top: 92%;
        width: 20vw;
        height: auto;
        font-size: 2rem;
    }
}

/* Styles for screens(2xl) */
@media screen and (min-width: 1536px) {
    .popup-statistic {
        width: 28vw;
        height: 64vh;
    }

    .abc-badge {
        top: -1%;
        right: 1%;
    }

    .box-statistic1 {
        top: 29%;
        width: 34vw;
        height: 40vh;
    }

    .basic-badge,
    .communication-badge,
    .information-badge,
    .internet-badge {
        width: 55px;
        height: 55px;
        right: 0%;
    }

    .box-statistic1-label {
        width: 34vw;
    }

    .box-statistic1-label p {
        top: 4%;
        width: 34vw;
        height: 6vh;
        font-size: 2.3rem;
    }

    .box-statistic1-label img {
        width: 47%;
        top: 340%;
    }

    .box-statistic2 {
        top: 70%;
        width: 34vw;
        height: 12vh;
    }

    .box-statistic2 div {
        top: 50%;
        width: 34vw;
        font-size: 1.7rem;
    }

    .box-statistic2 p {
        top: 0%;
        width: 34vw;
        font-size: 1rem;
    }

    .okay-button-statistic {
        top: 90%;
        width: 14vw;
        height: 6vh;
        font-size: 2.5rem;
    }
}

/* Styles for screens(3xl) */
@media screen and (min-width: 1800px) {
    .popup-statistic {
        width: 28vw;
        height: 64vh;
    }

    .abc-badge {
        top: -1%;
        right: 1%;
    }

    .box-statistic1 {
        top: 29%;
        width: 34vw;
        height: 40vh;
    }

    .basic-badge,
    .communication-badge,
    .information-badge,
    .internet-badge {
        width: 65px;
        height: 65px;
        right: 0%;
    }

    .box-statistic1-label {
        width: 34vw;
    }

    .box-statistic1-label p {
        top: 8%;
        width: 34vw;
        height: 6vh;
        font-size: 2.3rem;
    }

    .box-statistic1-label img {
        width: 40%;
        top: 340%;
    }

    .box-statistic2 {
        top: 70%;
        width: 34vw;
        height: 12vh;
    }

    .box-statistic2 div {
        top: 50%;
        width: 34vw;
        font-size: 1.7rem;
    }

    .box-statistic2 p {
        top: 0%;
        width: 34vw;
        font-size: 1.1rem;
    }

    .okay-button-statistic {
        top: 90%;
        width: 14vw;
        height: 6vh;
        font-size: 2.5rem;
    }
}