.containerCategorySelection {
  background-color: #EDEDED;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.sycuresLogoGameCategorySelection {
  position: absolute;
  height: auto;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.boxCategorySelectionBG {
  position: relative;
  background-color: rgba(27, 122, 143, 0.6);
  width: 100vw;
  height: 55%;
  margin-top: 17%;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: visible;
}

.boxCategorySelection {
  position: relative;
  background-color: #B1D4DC;
  height: 65dvh;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
}

.rowCategorySelection {
  top: 50%;
  display: flex;
  justify-content: center;
}

.backButtonCategorySelection {
  position: absolute;
  top: 2%;
  background: url('./Photos/BackButtonImage2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  border-radius: 16px;
  transition: transform .4s ease;
}

.backButtonCategorySelection:hover {
  transform: scale(1.1);
  filter: brightness(70%);
}

.buttonCategorySelection {
  position: relative;
  font-family: 'Jockey One';
  margin: .5rem;
  margin-top: 1%;
  color: white;
  background-color: #1F144B;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 16px;
  transition: transform .4s ease;
}

.buttonCategorySelection:hover {
  transform: scale(1.05);
  filter: brightness(70%);
  background-color: #FFFFFF;
  color: #1F144B;
}

.popupInstruction {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  background-color: #B1D4DC;
  text-align: center;
  font-weight: bold;
  font-family: 'Jockey One';
  color: #1F144B;
}

.stats-button {
  position: absolute;
  top: 2%;
  background-color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-family: 'Jockey One';
  transition: transform .4s ease;
  border-radius: 50%;
}

.stats-button:hover {
  transform: scale(1.1);
  filter: brightness(70%);
}

.stat-chart {
  color: #84BCC8;
}

/* Styles for screens(xs) */
@media screen and (max-width: 639px) {
  .sycuresLogoGameCategorySelection {
    width: 60vw;
    top: 3%;
  }

  .boxCategorySelection {
    border-radius: 50px;
    width: 90vw;
  }

  .rowCategorySelection {
    margin-bottom: 1%;
  }

  .backButtonCategorySelection {
    left: 2%;
    width: 12dvw;
    height: 5dvh;
  }

  .buttonCategorySelection {
    width: 37vw;
    height: 18vh;
    padding: 10px;
    font-size: 1rem;
  }

  .popupInstruction {
    top: 18%;
    width: 76vw;
    padding: .3em;
    margin-bottom: 10%;
    font-size: 1.3rem;
  }

  .stats-button {
    right: 2%;
    width: 15vw;
    height: 7vh;
    font-size: .9rem;
  }

  .stat-chart {
    font-size: 1.2rem
  }
}

/* Styles for screens(sm) */
@media screen and (min-width: 640px) {
  .sycuresLogoGameCategorySelection {
    width: 50dvw;
    top: 0%;
  }

  .boxCategorySelection {
    border-radius: 50px;
    width: 90dvw;
  }

  .rowCategorySelection {
    margin-bottom: 0%;
  }

  .backButtonCategorySelection {
    left: 2%;
    width: 12dvw;
    height: 8vh;
  }

  .buttonCategorySelection {
    width: 39dvw;
    height: 18dvh;
    padding: 10px;
    font-size: 1.6rem;
  }

  .popupInstruction {
    top: 17%;
    width: 80vw;
    padding: .3em;
    margin-bottom: 14%;
    font-size: 1.5rem;
  }

  .stats-button {
    right: 2%;
    width: 12dvw;
    height: 8dvh;
    font-size: 1.3rem;
  }

  .stat-chart {
    font-size: 1.4rem
  }
}

/* Styles for screens(md) */
@media screen and (min-width: 768px) {
  .sycuresLogoGameCategorySelection {
    width: 40dvw;
    top: 2%;
  }

  .boxCategorySelection {
    border-radius: 50px;
    width: 90dvw;
  }

  .rowCategorySelection {
    margin-bottom: 1%;
  }

  .backButtonCategorySelection {
    left: 2%;
    width: 10dvw;
    height: 8dvh;
  }

  .buttonCategorySelection {
    width: 40dvw;
    height: 18dvh;
    padding: 10px;
    font-size: 1.8rem;
  }

  .popupInstruction {
    top: 17%;
    width: 80vw;
    padding: .3em;
    margin-bottom: 7%;
    font-size: 1.9rem;
  }

  .stats-button {
    right: 2%;
    width: 11vw;
    height: 9vh;
    font-size: 1.3rem;
  }

  .stat-chart {
    font-size: 1.4rem
  }
}

/* Styles for screens(lg) */
@media screen and (min-width: 1024px) {
  .sycuresLogoGameCategorySelection {
    width: 38dvw;
    top: -1%;
  }

  .boxCategorySelection {
    border-radius: 50px;
    width: 90dvw;
  }

  .rowCategorySelection {
    margin-bottom: 1%;
  }

  .backButtonCategorySelection {
    left: 2%;
    width: 8.5dvw;
    height: 9dvh;
  }

  .buttonCategorySelection {
    width: 40dvw;
    height: 18dvh;
    padding: 10px;
    font-size: 2rem;
  }

  .popupInstruction {
    top: 17%;
    width: 80dvw;
    padding: .3em;
    margin-bottom: 2%;
    font-size: 2.3rem;
  }

  .stats-button {
    right: 2%;
    width: 9dvw;
    height: 10dvh;
    font-size: 1.5rem;
  }

  .stat-chart {
    font-size: 1.5rem
  }
}

/* Styles for screens(xl) */
@media screen and (min-width: 1280px) {
  .sycuresLogoGameCategorySelection {
    width: 33dvw;
    top: -1%;
  }

  .boxCategorySelection {
    border-radius: 50px;
    width: 90dvw;
  }

  .rowCategorySelection {
    margin-bottom: 1%;
  }

  .backButtonCategorySelection {
    left: 1%;
    width: 7dvw;
    height: 9dvh;
  }

  .buttonCategorySelection {
    width: 37dvw;
    height: 18dvh;
    padding: 10px;
    font-size: 2.2rem;
  }

  .popupInstruction {
    top: 17%;
    width: 74dvw;
    padding: .3em;
    margin-bottom: 0%;
    font-size: 2.7rem;
  }

  .stats-button {
    right: 1%;
    width: 8dvw;
    height: 11dvh;
    font-size: 1.7rem;
  }

  .stat-chart {
    font-size: 1.7rem
  }
}

/* Styles for screens(2xl) */
@media screen and (min-width: 1536px) {
  .sycuresLogoGameCategorySelection {
    width: 30dvw;
    top: -2%;
  }

  .boxCategorySelection {
    border-radius: 30px;
    width: 70dvw;
  }

  .rowCategorySelection {
    margin-bottom: 1%;
  }

  .backButtonCategorySelection {
    left: 1%;
    width: 5.5dvw;
    height: 9dvh;
  }

  .buttonCategorySelection {
    width: 30dvw;
    height: 19dvh;
    padding: 60px;
    font-size: 2.5rem;
  }

  .popupInstruction {
    top: 15%;
    width: 60dvw;
    padding: .3em;
    margin-bottom: 0%;
    font-size: 2.6rem;
  }

  .stats-button {
    right: 1%;
    width: 7dvw;
    height: 12dvh;
    font-size: 1.8rem;
  }

  .stat-chart {
    font-size: 2rem
  }
}

/* Styles for screens(3xl) */
@media screen and (min-width: 1800px) {
  .sycuresLogoGameCategorySelection {
    width: 29dvw;
    top: -2%;
  }

  .boxCategorySelection {
    border-radius: 30px;
    width: 70dvw;
  }

  .rowCategorySelection {
    margin-bottom: 1%;
  }

  .backButtonCategorySelection {
    left: 1%;
    width: 5dvw;
    height: 9dvh;
  }

  .buttonCategorySelection {
    width: 30dvw;
    height: 20dvh;
    padding: 60px;
    font-size: 2.5rem;
  }

  .popupInstruction {
    top: 15%;
    width: 60dvw;
    padding: .1em;
    margin-bottom: 0%;
    font-size: 3rem;
  }

  .stats-button {
    right: 1%;
    width: 6dvw;
    height: 11dvh;
    font-size: 1.8rem;
  }

  .stat-chart {
    font-size: 2rem
  }
}