.containerForgotPass {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('./Photos/containerGameBlueBG.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.backButtonForgotPassword {
    position: absolute;
    top: 2%;
    background: url('./Photos/BackButtonImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    border-radius: 16px;
    transition: transform .4s ease;
}

.whiteBoxForgotPass {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50px;
    height: auto;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.whiteBoxForgotPass h1 {
    position: relative;
    text-align: center;
    font-family: 'Jockey One';
}

.forgotPassText {
    position: relative;
    margin-top: 1%;
    margin-bottom: 0%;
    text-align: center;
    width: 100%;
    font-family: 'Jockey One';
}

.whiteBoxForgotPass input {
    position: relative;
    margin-top: 0%;
    height: auto;
    font-family: 'Jockey One';
    text-align: center;
    padding: 1%;
    border-radius: 16px;
}

.whiteBoxForgotPass button {
    position: relative;
    margin-bottom: 4%;
    height: auto;
    font-family: 'Jockey One';
    text-align: center;
    padding: 1%;
    border-radius: 16px;
    transition: transform .4s ease;
}

.whiteBoxForgotPass button:hover {
    transform: scale(1.05);
    filter: brightness(70%);
}

.contentForgotPass {
    text-align: center;
    font-size: 40px;
    font-family: 'Jockey One';
}

.modal {
    position: fixed;
    z-index: 1000;
    height: 10%;
    animation: fadeOut 5s forwards;
}

.modal-content-passchangesuccess {
    background-color: green;
    color: #FFFFFF;
    font-weight: bold;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 55%;
}

.modal-content-noemailfound {
    background-color: red;
    color: #FFFFFF;
    font-weight: bold;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 55%;
}

.error-message-forgotpass {
    position: absolute;
    color: red;
    margin-top: -2%;
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* Styles for screens(xs) */
@media screen and (max-width: 639px) {
    .backButtonForgotPassword {
        left: 2%;
        width: 16vw;
        height: 7vh;
    }

    .backButtonForgotPassword:hover {
        transform: scale(1.1);
        filter: brightness(70%);
    }

    .whiteBoxForgotPass {
        padding: 2% 1% 4% 1%;
        width: 85vw;
    }

    .whiteBoxForgotPass h1 {
        margin-top: 7%;
        margin-bottom: 10%;
        font-size: 2rem;
    }

    .forgotPassText {
        font-size: 0.7rem;
    }

    .whiteBoxForgotPass input {
        width: 85%;
        margin-bottom: 7%;
        font-size: 1.5rem;
    }

    .whiteBoxForgotPass button {
        margin-top: 7%;
        width: auto;
        font-size: 1rem;
    }

    .modal {
        left: -25%;
        bottom: 6%;
        width: 150%;
    }

    .error-message-forgotpass {
        margin-left: 7%;
        font-size: 0.7rem;
    }
}

/* Styles for screens(sm) */
@media screen and (min-width: 640px) {
    .backButtonForgotPassword {
        left: 2%;
        width: 13vw;
        height: 8vh;
    }

    .backButtonForgotPassword:hover {
        transform: scale(1.1);
        filter: brightness(70%);
    }

    .whiteBoxForgotPass {
        padding: 2% 1% 4% 1%;
        width: 85vw;
    }

    .whiteBoxForgotPass h1 {
        margin-top: 7%;
        margin-bottom: 10%;
        font-size: 2.6rem;
    }

    .forgotPassText {
        font-size: 1.2rem;
    }

    .whiteBoxForgotPass input {
        width: 85%;
        margin-bottom: 5%;
        font-size: 2rem;
    }

    .whiteBoxForgotPass button {
        margin-top: 5%;
        width: auto;
        font-size: 1.8rem;
    }

    .modal {
        left: 23%;
        bottom: 3%;
        width: 90%;
    }

    .error-message-forgotpass {
        margin-left: 7%;
        font-size: 1.1rem;
    }
}

/* Styles for screens(md) */
@media screen and (min-width: 768px) {
    .backButtonForgotPassword {
        left: 2%;
        width: 12vw;
        height: 9vh;
    }

    .backButtonForgotPassword:hover {
        transform: scale(1.1);
        filter: brightness(70%);
    }

    .whiteBoxForgotPass {
        padding: 2% 1% 4% 1%;
        width: 85vw;
    }

    .whiteBoxForgotPass h1 {
        margin-top: 10%;
        margin-bottom: 13%;
        font-size: 2.8rem;
    }

    .forgotPassText {
        font-size: 1.4rem;
    }

    .whiteBoxForgotPass input {
        width: 85%;
        margin-bottom: 5%;
        font-size: 2rem;
    }

    .whiteBoxForgotPass button {
        margin-top: 5%;
        width: auto;
        font-size: 1.8rem;
    }

    .modal {
        left: 33%;
        bottom: 3%;
        width: 80%;
    }

    .error-message-forgotpass {
        margin-left: 7%;
        font-size: 1.2rem;
    }
}

/* Styles for screens(lg) */
@media screen and (min-width: 1024px) {
    .backButtonForgotPassword {
        left: 2%;
        width: 9vw;
        height: 9vh;
    }

    .backButtonForgotPassword:hover {
        transform: scale(1.1);
        filter: brightness(70%);
    }

    .whiteBoxForgotPass {
        padding: 2% 1% 2% 1%;
        width: 75vw;
    }

    .whiteBoxForgotPass h1 {
        margin-top: 5%;
        margin-bottom: 9%;
        font-size: 3rem;
    }

    .forgotPassText {
        font-size: 1.7rem;
    }

    .whiteBoxForgotPass input {
        width: 85%;
        margin-bottom: 5%;
        font-size: 2rem;
    }

    .whiteBoxForgotPass button {
        margin-top: 7%;
        width: auto;
        font-size: 1.8rem;
    }

    .modal {
        left: 53%;
        bottom: 3%;
        width: 55%;
    }

    .error-message-forgotpass {
        margin-left: 7%;
        font-size: 1.4rem;
    }
}

/* Styles for screens(xl) */
@media screen and (min-width: 1280px) {
    .backButtonForgotPassword {
        left: 2%;
        width: 8vw;
        height: 10vh;
    }

    .backButtonForgotPassword:hover {
        transform: scale(1.1);
        filter: brightness(70%);
    }

    .whiteBoxForgotPass {
        padding: 2% 1% 2% 1%;
        width: 70vw;
    }

    .whiteBoxForgotPass h1 {
        margin-top: 5%;
        margin-bottom: 9%;
        font-size: 3.2rem;
    }

    .forgotPassText {
        font-size: 2rem;
    }

    .whiteBoxForgotPass input {
        width: 85%;
        margin-bottom: 5%;
        font-size: 2.2rem;
    }

    .whiteBoxForgotPass button {
        margin-top: 7%;
        width: auto;
        font-size: 2rem;
    }

    .modal {
        left: 61%;
        bottom: 3%;
        width: 45%;
    }

    .error-message-forgotpass {
        margin-left: 7%;
        font-size: 1.6rem;
    }
}

/* Styles for screens(2xl) */
@media screen and (min-width: 1536px) {
    .backButtonForgotPassword {
        left: 1%;
        width: 7vw;
        height: 11vh;
    }

    .backButtonForgotPassword:hover {
        transform: scale(1.1);
        filter: brightness(70%);
    }

    .whiteBoxForgotPass {
        padding: 2% 1% 1% 1%;
        width: 50vw;
    }

    .whiteBoxForgotPass h1 {
        margin-top: 0%;
        margin-bottom: 9%;
        font-size: 3.2rem;
    }

    .forgotPassText {
        font-size: 1.8rem;
    }

    .whiteBoxForgotPass input {
        margin-bottom: 5%;
        width: 45vw;
        font-size: 2.4rem;
    }

    .whiteBoxForgotPass button {
        margin-top: 4%;
        width: 40%;
        font-size: 35px;
    }

    .modal {
        left: 66%;
        bottom: 2%;
        width: 40%;
    }

    .error-message-forgotpass {
        margin-left: 5%;
        font-size: 1.6rem;
    }
}

/* Styles for screens(3xl) */
@media screen and (min-width: 1800px) {
    .backButtonForgotPassword {
        left: 1%;
        width: 6.2vw;
        height: 11vh;
    }

    .backButtonForgotPassword:hover {
        transform: scale(1.1);
        filter: brightness(70%);
    }

    .whiteBoxForgotPass {
        padding: 2% 1% 1% 1%;
        width: 50vw;
    }

    .whiteBoxForgotPass h1 {
        margin-top: 0%;
        margin-bottom: 9%;
        font-size: 3.2rem;
    }

    .forgotPassText {
        font-size: 2.2rem;
        margin-top: 0%;
    }

    .whiteBoxForgotPass input {
        margin-bottom: 5%;
        width: 45vw;
        font-size: 2.4rem;
    }

    .whiteBoxForgotPass button {
        margin-top: 4%;
        width: 40%;
        font-size: 35px;
    }

    .modal {
        left: 71%;
        bottom: 1%;
        width: 35%;
    }

    .error-message-forgotpass {
        margin-left: 5%;
        font-size: 2rem;
    }
}