.containerLogin {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.upper-box {
    display: flex;
    flex: 12;
    background-color: #D9D9D9;
    position: relative;
    overflow: hidden;
}

.lower-box {
    flex: 88;
    background-color: #84BCC8;
    position: relative;
    overflow: hidden;
}

.black-box {
    background-color: #EDEDED;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}

.darkblue-box {
    background-color: #1F144B;
    height: 95%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-family: 'Jockey One';
    font-weight: bold;
    color: white;
    z-index: 6;
    border-radius: 16px;
}

.sycures-logo-login {
    position: absolute;
    height: auto;
    transform: translateX(-50%);
    cursor: pointer;
    border: transparent;
    z-index: 4;
}

.button-about-login {
    transform: translate(-50%, -50%);
    position: relative;
    width: auto;
    height: 110px;
    color: #1F144B;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-decoration: none;
    z-index: 5;
}

.button-about-login:hover {
    text-decoration: underline;
}

.button-help-login {
    transform: translate(-50%, -50%);
    position: relative;
    width: auto;
    height: 110px;
    color: #1F144B;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-decoration: none;
    z-index: 5;
}

.button-help-login:hover {
    text-decoration: underline;
}

.button-contact-login {
    transform: translate(-50%, -50%);
    position: relative;
    width: auto;
    height: 110px;
    color: #1F144B;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-decoration: none;
    z-index: 5;
}

.button-contact-login:hover {
    text-decoration: underline;
}

.label-email {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-left: 4%;
    width: auto;
    position: absolute;
}

.input-style-email {
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #B6B6B6;
    position: absolute;
    border-radius: 16px;
}

.label-password {
    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-left: 4%;
    position: absolute;
}

.input-style-password {
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #B6B6B6;
    position: absolute;
    border-radius: 16px;
}

.forgot-password {
    width: 100%;
    font-family: "Inter", sans-serif;
    position: absolute;
}

.p-login {
    transform: translateX(-50%);
    font-family: "Inter", sans-serif;
    position: absolute;
}

.b-register {
    cursor: pointer;
    font-family: "Inter", sans-serif;
    position: absolute;
}

.label-name {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-left: 4%;
    position: absolute;
}

.label-age {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-left: 4%;
    position: absolute;
}

.label-course {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    position: absolute;
}

.label-regEmail {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-left: 4%;
    position: absolute;
}

.label-regPass {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-left: 4%;
    position: absolute;
}

.label-confirmRegPass {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-left: 4%;
    position: absolute;
}

.input-style-name {
    padding: 8px;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #B6B6B6;
    position: absolute;
    border-radius: 16px;
}

.input-style-age {
    padding: 8px;
    width: 40%;
    margin-left: 25%;
    transform: translateX(-50%);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #B6B6B6;
    position: absolute;
    border-radius: 16px;
}

.input-style-course {
    padding: 8px;
    width: 42%;
    margin-left: 75%;
    transform: translateX(-50%);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #B6B6B6;
    position: absolute;
    border-radius: 16px;
}

.input-style-regEmail {
    padding: 8px;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #B6B6B6;
    position: absolute;
    border-radius: 16px;
}

.input-style-regPass {
    padding: 8px;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #B6B6B6;
    position: absolute;
    border-radius: 16px;
}

.input-style-confirmRegPass {
    padding: 8px;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #B6B6B6;
    position: absolute;
    border-radius: 16px;
}

.start-button-style-login {
    left: 50%;
    transform: translatex(-50%);
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: bold;
    background-color: #D9D9D9;
    color: #1F144B;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1000;
    transition: transform .4s ease;
    position: absolute;
}

.robot-login {
    position: absolute;
    width: 100vw;
    height: auto;
    left: -35%;
    z-index: 0;
    transform: rotate(20deg);
}

.separator {
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #000;
    opacity: 0.25;
    left: 39%;
    transform: translate(-50%);
    top: 0;
    z-index: 2;
}

.login-register-container {
    position: relative;
    margin-bottom: 3%;
}

.buttons-container {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    max-width: 900px;
}

.login-register-button {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    background-color: #727272;
    color: #FFFFFF;
    padding: 0;
    margin: 5%;
    cursor: pointer;
    transition: filter .4s ease;
    position: relative;
    margin-bottom: 0%;
    border-radius: 16px;
}

.form-container {
    margin-top: 0%;
    width: auto;
    height: auto;
    transition: filter .4s ease;
}

.active {
    transform: scale(1.05);
    background-color: #D9D9D9;
    color: #FFFFFF;
}

.modal {
    position: fixed;
    font-family: 'Jockey One';
    z-index: 100;
    left: 71%;
    bottom: 1%;
    width: 35%;
    height: 10%;
    animation: fadeOut 4s forwards;
}

.modal-content {
    background-color: green;
    color: #FFFFFF;
    font-weight: bold;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 55%;
}

.modal-content-already-use {
    background-color: red;
    color: #FFFFFF;
    font-weight: bold;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 55%;
}

.modal-content-invalid {
    background-color: red;
    color: #FFFFFF;
    font-weight: bold;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 55%;
}

.modal-content-loginsuccess {
    background-color: green;
    color: #FFFFFF;
    font-weight: bold;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 55%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fade-in {
    opacity: 1;
    transition: opacity .8s ease-in;
}

.fade-out {
    opacity: 0;
    transition: opacity .8s ease-out;
}

.input-error {
    border-color: red;
}

.error-message {
    position: absolute;
    color: red;
    margin-left: 5%;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* Styles for screens(xs) */
@media screen and (max-width: 639px) {
    .black-box {
        width: 70%;
        right: 15%;
    }

    .darkblue-box {
        width: 90%;
        left: 50%;
    }

    .sycures-logo-login {
        width: 33vw;
        top: 23%;
        left: 18%;
    }

    .button-about-login {
        top: 105%;
        left: 53%;
        font-size: 1rem;
    }

    .button-help-login {
        top: 105%;
        left: 55%;
        font-size: 1rem;
    }

    .button-contact-login {
        top: 105%;
        left: 63%;
        font-size: 1rem;
    }

    .label-email {
        font-size: 1.7rem;
        margin-top: 48%;
    }

    .input-style-email {
        font-size: 1.9rem;
        padding: 5px;
        margin-top: 60%;
    }

    .label-password {
        font-size: 1.7rem;
        margin-top: 86%;
    }

    .input-style-password {
        font-size: 1.9rem;
        padding: 5px;
        margin-top: 97%;
    }

    .forgot-password {
        margin-top: 120%;
        margin-left: 45%;
        font-size: 1.2rem;
    }

    .p-login {
        margin-top: 147%;
        margin-left: 40%;
        font-size: 1rem;
    }

    .label-name {
        font-size: 1.4rem;
        margin-top: 30%;
    }

    .label-age {
        font-size: 1.4rem;
        margin-top: 55%;
    }

    .label-course {
        font-size: 0.9rem;
        margin-top: 57%;
        margin-left: 56%;
    }

    .label-regEmail {
        font-size: 1.4rem;
        margin-top: 81%;
    }

    .label-regPass {
        font-size: 1.4rem;
        margin-top: 106%;
    }

    .label-confirmRegPass {
        font-size: 1.4rem;
        margin-top: 131%;
    }

    .input-style-name {
        font-size: 1.4rem;
        margin-top: 39%;
    }

    .input-style-age {
        font-size: 1.4rem;
        margin-top: 64%;
    }

    .input-style-course {
        font-size: 1.4rem;
        margin-top: 64%;
    }

    .input-style-regEmail {
        font-size: 1.4rem;
        margin-top: 90%;
    }

    .input-style-regPass {
        font-size: 1.4rem;
        margin-top: 115%;
    }

    .input-style-confirmRegPass {
        font-size: 1.4rem;
        margin-top: 140%;
    }

    .start-button-style-login {
        font-size: 1.8rem;
        padding: 3px;
        width: 43%;
        margin-top: 170%;
    }

    .robot-login {
        margin-top: 10%;
        display: none
    }

    .separator {
        display: none;
    }

    .buttons-container {
        margin-top: 14%;
        left: 50%;
    }

    .login-register-button {
        width: 40%;
        font-size: 1.6rem;
    }

    .error-message {
        font-size: 1rem;
        margin-top: 158%;
    }
}

/* Styles for screens(sm) */
@media screen and (min-width: 640px) {
    .black-box {
        width: 55%;
        right: 20%;
    }

    .darkblue-box {
        width: 80%;
        left: 52%;
    }

    .sycures-logo-login {
        width: 28vw;
        top: 18%;
        left: 18%;
    }

    .button-about-login {
        top: 94%;
        left: 48%;
        font-size: 2rem;
    }

    .button-help-login {
        top: 94%;
        left: 50%;
        font-size: 2rem;
    }

    .button-contact-login {
        top: 94%;
        left: 58%;
        font-size: 2rem;
    }

    .label-email {
        font-size: 2.2rem;
        margin-top: 34%;
    }

    .input-style-email {
        font-size: 2.2rem;
        padding: 5px;
        margin-top: 43%;
    }

    .label-password {
        font-size: 2.2rem;
        margin-top: 64%;
    }

    .input-style-password {
        font-size: 2.2rem;
        padding: 5px;
        margin-top: 73%;
    }

    .forgot-password {
        margin-top: 88%;
        margin-left: 55%;
        font-size: 1.5rem;
    }

    .p-login {
        margin-top: 107%;
        margin-left: 40%;
        font-size: 1.3rem;
    }

    .label-name {
        font-size: 1.6rem;
        margin-top: 27%;
    }

    .label-age {
        font-size: 1.6rem;
        margin-top: 46%;
    }

    .label-course {
        font-size: 1.6rem;
        margin-top: 46%;
        margin-left: 54%;
    }

    .label-regEmail {
        font-size: 1.6rem;
        margin-top: 64%;
    }

    .label-regPass {
        font-size: 1.6rem;
        margin-top: 81%;
    }

    .label-confirmRegPass {
        font-size: 1.6rem;
        margin-top: 99%;
    }

    .input-style-name {
        font-size: 1.6rem;
        margin-top: 34%;
    }

    .input-style-age {
        font-size: 1.6rem;
        margin-top: 52%;
    }

    .input-style-course {
        font-size: 1.6rem;
        margin-top: 52%;
    }

    .input-style-regEmail {
        font-size: 1.6rem;
        margin-top: 70%;
    }

    .input-style-regPass {
        font-size: 1.6rem;
        margin-top: 87%;
    }

    .input-style-confirmRegPass {
        font-size: 1.6rem;
        margin-top: 105%;
    }

    .start-button-style-login {
        font-size: 2.4rem;
        padding: 3px;
        width: 43%;
        margin-top: 126%;
    }

    .robot-login {
        margin-top: 10%;
        display: none
    }

    .separator {
        display: none;
    }

    .buttons-container {
        margin-top: 11%;
        left: 59%;
    }

    .login-register-button {
        width: 31%;
        font-size: 2rem;
    }

    .error-message {
        font-size: 1rem;
        margin-top: 117%;
    }
}

/* Styles for screens(md) */
@media screen and (min-width: 768px) {
    .black-box {
        width: 55%;
        right: 20%;
    }

    .darkblue-box {
        width: 80%;
        left: 52%;
    }

    .sycures-logo-login {
        width: 23vw;
        top: 13%;
        left: 18%;
    }

    .button-about-login {
        top: 89%;
        left: 53%;
        font-size: 2.2rem;
    }

    .button-help-login {
        top: 89%;
        left: 55%;
        font-size: 2.2rem;
    }

    .button-contact-login {
        top: 89%;
        left: 62%;
        font-size: 2.2rem;
    }

    .label-email {
        font-size: 2.4rem;
        margin-top: 30%;
    }

    .input-style-email {
        font-size: 2.4rem;
        padding: 5px;
        margin-top: 38%;
    }

    .label-password {
        font-size: 2.4rem;
        margin-top: 57%;
    }

    .input-style-password {
        font-size: 2.4rem;
        padding: 5px;
        margin-top: 65%;
    }

    .forgot-password {
        margin-top: 78%;
        margin-left: 60%;
        font-size: 1.5rem;
    }

    .p-login {
        margin-top: 92%;
        margin-left: 40%;
        font-size: 1.5rem;
    }

    .label-name {
        font-size: 1.6rem;
        margin-top: 18%;
    }

    .label-age {
        font-size: 1.6rem;
        margin-top: 34%;
    }

    .label-course {
        font-size: 1.6rem;
        margin-top: 34%;
        margin-left: 54%;
    }

    .label-regEmail {
        font-size: 1.6rem;
        margin-top: 50%;
    }

    .label-regPass {
        font-size: 1.6rem;
        margin-top: 65%;
    }

    .label-confirmRegPass {
        font-size: 1.6rem;
        margin-top: 80%;
    }

    .input-style-name {
        font-size: 1.6rem;
        margin-top: 23%;
    }

    .input-style-age {
        font-size: 1.6rem;
        margin-top: 39%;
    }

    .input-style-course {
        font-size: 1.6rem;
        margin-top: 39%;
    }

    .input-style-regEmail {
        font-size: 1.6rem;
        margin-top: 55%;
    }

    .input-style-regPass {
        font-size: 1.6rem;
        margin-top: 70%;
    }

    .input-style-confirmRegPass {
        font-size: 1.6rem;
        margin-top: 85%;
    }

    .start-button-style-login {
        font-size: 2.6rem;
        padding: 3px;
        width: 43%;
        margin-top: 104%;
    }

    .robot-login {
        margin-top: 10%;
        display: none
    }

    .separator {
        display: none;
    }

    .buttons-container {
        margin-top: 8%;
        left: 59%;
    }

    .login-register-button {
        width: 31%;
        font-size: 2.2rem;
    }

    .error-message {
        font-size: 1.2rem;
        margin-top: 96%;
    }
}

/* Styles for screens(lg) */
@media screen and (min-width: 1024px) {
    .black-box {
        width: 45%;
        right: 25%;
    }

    .darkblue-box {
        width: 53%;
        left: 52%;
    }

    .sycures-logo-login {
        width: 18vw;
        top: 13%;
        left: 14%;
    }

    .button-about-login {
        top: 84%;
        left: 58%;
        font-size: 2.4rem;
    }

    .button-help-login {
        top: 84%;
        left: 60%;
        font-size: 2.4rem;
    }

    .button-contact-login {
        top: 84%;
        left: 66%;
        font-size: 2.4rem;
    }

    .label-email {
        font-size: 2.4rem;
        margin-top: 33%;
    }

    .input-style-email {
        font-size: 2.4rem;
        padding: 5px;
        margin-top: 41%;
    }

    .label-password {
        font-size: 2.4rem;
        margin-top: 59%;
    }

    .input-style-password {
        font-size: 2.4rem;
        padding: 5px;
        margin-top: 67%;
    }

    .forgot-password {
        margin-top: 81%;
        margin-left: 51%;
        font-size: 1.7rem;
    }

    .p-login {
        margin-top: 100%;
        margin-left: 40%;
        font-size: 1.7rem;
    }

    .label-name {
        font-size: 1.8rem;
        margin-top: 18%;
    }

    .label-age {
        font-size: 1.8rem;
        margin-top: 37%;
    }

    .label-course {
        font-size: 1.8rem;
        margin-top: 37%;
        margin-left: 54%;
    }

    .label-regEmail {
        font-size: 1.8rem;
        margin-top: 56%;
    }

    .label-regPass {
        font-size: 1.8rem;
        margin-top: 74%;
    }

    .label-confirmRegPass {
        font-size: 1.8rem;
        margin-top: 93%;
    }

    .input-style-name {
        font-size: 1.8rem;
        margin-top: 24%;
    }

    .input-style-age {
        font-size: 1.8rem;
        margin-top: 43%;
    }

    .input-style-course {
        font-size: 1.8rem;
        margin-top: 43%;
    }

    .input-style-regEmail {
        font-size: 1.8rem;
        margin-top: 62%;
    }

    .input-style-regPass {
        font-size: 2rem;
        margin-top: 80%;
    }

    .input-style-confirmRegPass {
        font-size: 2.2rem;
        margin-top: 99%;
    }

    .start-button-style-login {
        font-size: 2.8rem;
        padding: 4px;
        width: 43%;
        margin-top: 119%;
    }

    .robot-login {
        margin-top: 10%;
        display: none
    }

    .separator {
        display: none;
    }

    .buttons-container {
        margin-top: 8%;
        left: 59%;
    }

    .login-register-button {
        width: 31%;
        font-size: 2.4rem;
    }

    .error-message {
        font-size: 1.4rem;
        margin-top: 112%;
    }
}

/* Styles for screens(xl) */
@media screen and (min-width: 1280px) {
    .black-box {
        width: 45%;
        right: 7%;
    }

    .darkblue-box {
        width: 53%;
        left: 70%;
    }

    .sycures-logo-login {
        width: 15vw;
        top: 11%;
        left: 19%;
    }

    .button-about-login {
        top: 81%;
        left: 63%;
        font-size: 2.6rem;
    }

    .button-help-login {
        top: 81%;
        left: 65%;
        font-size: 2.6rem;
    }

    .button-contact-login {
        top: 81%;
        left: 70%;
        font-size: 2.6rem;
    }

    .label-email {
        font-size: 2.6rem;
        margin-top: 21%;
    }

    .input-style-email {
        font-size: 2.6rem;
        padding: 5px;
        margin-top: 28%;
    }

    .label-password {
        font-size: 2.6rem;
        margin-top: 43%;
    }

    .input-style-password {
        font-size: 2.6rem;
        padding: 5px;
        margin-top: 50%;
    }

    .forgot-password {
        margin-top: 61%;
        margin-left: 60%;
        font-size: 1.7rem;
    }

    .p-login {
        margin-top: 77%;
        margin-left: 43%;
        font-size: 1.9rem;
    }

    .label-name {
        font-size: 2rem;
        margin-top: 13%;
    }

    .label-age {
        font-size: 2rem;
        margin-top: 28%;
    }

    .label-course {
        font-size: 2rem;
        margin-top: 28%;
        margin-left: 54%;
    }

    .label-regEmail {
        font-size: 2rem;
        margin-top: 43%;
    }

    .label-regPass {
        font-size: 2rem;
        margin-top: 58%;
    }

    .label-confirmRegPass {
        font-size: 2rem;
        margin-top: 73%;
    }

    .input-style-name {
        font-size: 2rem;
        margin-top: 18%;
    }

    .input-style-age {
        font-size: 2rem;
        margin-top: 34%;
    }

    .input-style-course {
        font-size: 2rem;
        margin-top: 34%;
    }

    .input-style-regEmail {
        font-size: 2rem;
        margin-top: 49%;
    }

    .input-style-regPass {
        font-size: 2rem;
        margin-top: 64%;
    }

    .input-style-confirmRegPass {
        font-size: 2.2rem;
        margin-top: 79%;
    }

    .start-button-style-login {
        font-size: 3rem;
        padding: 5px;
        width: 43%;
        margin-top: 94%;
    }

    .robot-login {
        margin-top: 10%;
        display: block;
    }

    .separator {
        display: block;
    }

    .buttons-container {
        margin-top: 5%;
        left: 59%;
    }

    .login-register-button {
        width: 31%;
        font-size: 2.6rem;
    }

    .error-message {
        font-size: 1.6rem;
        margin-top: 89%;
    }
}

/* Styles for screens(2xl) */
@media screen and (min-width: 1536px) {
    .black-box {
        width: 45%;
        right: 7%;
    }

    .darkblue-box {
        width: 53%;
        left: 70%;
    }

    .sycures-logo-login {
        width: 13vw;
        top: 8%;
        left: 19%;
    }

    .button-about-login {
        top: 78%;
        left: 68%;
        font-size: 2.8rem;
    }

    .button-help-login {
        top: 78%;
        left: 70%;
        font-size: 2.8rem;
    }

    .button-contact-login {
        top: 78%;
        left: 75%;
        font-size: 2.8rem;
    }

    .label-email {
        font-size: 2.8rem;
        margin-top: 17%;
    }

    .input-style-email {
        font-size: 2.8rem;
        padding: 6px;
        margin-top: 23%;
    }

    .label-password {
        font-size: 2.8rem;
        margin-top: 37%;
    }

    .input-style-password {
        font-size: 2.8rem;
        padding: 6px;
        margin-top: 43%;
    }

    .forgot-password {
        margin-top: 53%;
        margin-left: 63%;
        font-size: 1.9rem;
    }

    .p-login {
        margin-top: 64%;
        margin-left: 43%;
        font-size: 2.2rem;
    }

    .label-name {
        font-size: 2.2rem;
        margin-top: 10%;
    }

    .label-age {
        font-size: 2.2rem;
        margin-top: 23%;
    }

    .label-course {
        font-size: 2.2rem;
        margin-top: 23%;
        margin-left: 54%;
    }

    .label-regEmail {
        font-size: 2.2rem;
        margin-top: 35%;
    }

    .label-regPass {
        font-size: 2.2rem;
        margin-top: 47%;
    }

    .label-confirmRegPass {
        font-size: 2.2rem;
        margin-top: 59%;
    }

    .input-style-name {
        font-size: 2.2rem;
        margin-top: 15%;
    }

    .input-style-age {
        font-size: 2.2rem;
        margin-top: 27%;
    }

    .input-style-course {
        font-size: 2.2rem;
        margin-top: 27%;
    }

    .input-style-regEmail {
        font-size: 2.2rem;
        margin-top: 39%;
    }

    .input-style-regPass {
        font-size: 2.2rem;
        margin-top: 51%;
    }

    .input-style-confirmRegPass {
        font-size: 2.2rem;
        margin-top: 63%;
    }

    .start-button-style-login {
        font-size: 3.3rem;
        padding: 6px;
        width: 43%;
        margin-top: 77%;
    }

    .robot-login {
        margin-top: 0%;
        display: block;
    }

    .separator {
        display: block;
    }

    .buttons-container {
        margin-top: 3%;
        left: 57%;
    }

    .login-register-button {
        width: 33%;
        font-size: 2.8rem;
    }

    .error-message {
        font-size: 1.8rem;
        margin-top: 71%;
    }
}

/* Styles for screens(3xl) */
@media screen and (min-width: 1800px) {
    .black-box {
        width: 45%;
        right: 7%;
    }

    .darkblue-box {
        width: 53%;
        left: 70%;
    }

    .sycures-logo-login {
        width: 13vw;
        top: 5%;
        left: 19%;
    }

    .button-about-login {
        top: 75%;
        left: 73%;
        font-size: 3rem;
    }

    .button-help-login {
        top: 75%;
        left: 75%;
        font-size: 3rem;
    }

    .button-contact-login {
        top: 75%;
        left: 80%;
        font-size: 3rem;
    }

    .label-email {
        font-size: 3rem;
        margin-top: 15%;
    }

    .input-style-email {
        font-size: 3rem;
        padding: 8px;
        margin-top: 21%;
    }

    .label-password {
        font-size: 3rem;
        margin-top: 34%;
    }

    .input-style-password {
        font-size: 3rem;
        padding: 8px;
        margin-top: 40%;
    }

    .forgot-password {
        margin-top: 50%;
        margin-left: 69%;
        font-size: 1.9rem;
    }

    .p-login {
        margin-top: 58%;
        margin-left: 45%;
        font-size: 2.2rem;
    }

    .label-name {
        font-size: 2.4rem;
        margin-top: 10%;
    }

    .label-age {
        font-size: 2.4rem;
        margin-top: 21%;
    }

    .label-course {
        font-size: 2.4rem;
        margin-top: 21%;
        margin-left: 54%;
    }

    .label-regEmail {
        font-size: 2.4rem;
        margin-top: 32%;
    }

    .label-regPass {
        font-size: 2.4rem;
        margin-top: 43%;
    }

    .label-confirmRegPass {
        font-size: 2.4rem;
        margin-top: 54%;
    }

    .input-style-name {
        font-size: 2.4rem;
        margin-top: 14%;
    }

    .input-style-age {
        font-size: 2.4rem;
        margin-top: 25%;
    }

    .input-style-course {
        font-size: 2.4rem;
        margin-top: 25%;
    }

    .input-style-regEmail {
        font-size: 2.4rem;
        margin-top: 36%;
    }

    .input-style-regPass {
        font-size: 2.4rem;
        margin-top: 47%;
    }

    .input-style-confirmRegPass {
        font-size: 2.4rem;
        margin-top: 58%;
    }

    .start-button-style-login {
        font-size: 3.5rem;
        padding: 8px;
        width: 45%;
        margin-top: 69%;
    }

    .robot-login {
        margin-top: -5%;
        display: block;
    }

    .separator {
        display: block;
    }

    .buttons-container {
        margin-top: 3%;
        left: 55%;
    }

    .login-register-button {
        width: 35%;
        font-size: 3rem;
    }

    .error-message {
        font-size: 2rem;
        margin-top: 65%;
    }
}