/* Styles for screens(xs) */
@media screen and (max-width: 639px) {
.center-box {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url('./Photos/containerGameBlueBG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;    
  align-items: center;
}

.content-box {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: #f9f9f9;
  width: 80vw;
  height: 30vh;
  font-family: 'Jockey One';
}

.title-not-found {
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  top: 3%;
  margin-top: 0%;
  font-size: 1.8rem;
  font-family: 'Jockey One';
}

.p-not-found {
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  top: -10%;
  margin-top: 0%;
  font-size: 1.2rem;
  font-family: 'Jockey One';
}


.backButtonNotFound {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 15vw;
  height: 15vw;
  background: url('./Photos/BackButtonImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  transition: transform .4s ease;
}

.backButtonNotFound:hover {
  transform: scale(1.1); 
  filter: brightness(70%);
}
}

/* Styles for screens(sm) */
@media screen and (min-width: 640px) {
.center-box {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url('./Photos/containerGameBlueBG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;    
  align-items: center;
}

.content-box {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: #f9f9f9;
  width: 70vw;
  height: 25vh;
  font-family: 'Jockey One';
}

.title-not-found {
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  top: 3%;
  margin-top: 0%;
  font-size: 2rem;
  font-family: 'Jockey One';
}

.p-not-found {
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  top: -5%;
  margin-top: 0%;
  font-size: 1.4rem;
  font-family: 'Jockey One';
}


.backButtonNotFound {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 15vw;
  height: 15vw;
  background: url('./Photos/BackButtonImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  transition: transform .4s ease;
}

.backButtonNotFound:hover {
  transform: scale(1.1); 
  filter: brightness(70%);
}
}

/* Styles for screens(md) */
@media screen and (min-width: 768px) {
.center-box {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url('./Photos/containerGameBlueBG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;    
  align-items: center;
}

.content-box {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: #f9f9f9;
  width: 70vw;
  height: 25vh;
  font-family: 'Jockey One';
}

.title-not-found {
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  top: 3%;
  margin-top: 0%;
  font-size: 2rem;
  font-family: 'Jockey One';
}

.p-not-found {
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  top: 0%;
  margin-top: 0%;
  font-size: 1.4rem;
  font-family: 'Jockey One';
}


.backButtonNotFound {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 15vw;
  height: 15vw;
  background: url('./Photos/BackButtonImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  transition: transform .4s ease;
}

.backButtonNotFound:hover {
  transform: scale(1.1); 
  filter: brightness(70%);
}
}

/* Styles for screens(lg) */
@media screen and (min-width: 1024px) {
.center-box {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url('./Photos/containerGameBlueBG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;    
  align-items: center;
}

.content-box {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: #f9f9f9;
  width: 60vw;
  height: 25vh;
  font-family: 'Jockey One';
}

.title-not-found {
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  top: 3%;
  margin-top: 0%;
  font-size: 2.4rem;
  font-family: 'Jockey One';
}

.p-not-found {
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  top: 0%;
  margin-top: -5%;
  font-size: 1.8rem;
  font-family: 'Jockey One';
}


.backButtonNotFound {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 10vw;
  height: 10vw;
  background: url('./Photos/BackButtonImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  transition: transform .4s ease;
}

.backButtonNotFound:hover {
  transform: scale(1.1); 
  filter: brightness(70%);
}
}

/* Styles for screens(xl) */
@media screen and (min-width: 1280px) {
.center-box {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url('./Photos/containerGameBlueBG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;    
  align-items: center;
}

.content-box {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: #f9f9f9;
  width: 55vw;
  height: 25vh;
  font-family: 'Jockey One';
}

.title-not-found {
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  top: 3%;
  margin-top: 0%;
  font-size: 2.4rem;
  font-family: 'Jockey One';
}

.p-not-found {
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  top: 0%;
  margin-top: -5%;
  font-size: 1.8rem;
  font-family: 'Jockey One';
}


.backButtonNotFound {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 8vw;
  height: 8vw;
  background: url('./Photos/BackButtonImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  transition: transform .4s ease;
}

.backButtonNotFound:hover {
  transform: scale(1.1); 
  filter: brightness(70%);
}
}
  
/* Styles for screens(2xl) */
@media screen and (min-width: 1536px) {
.center-box {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url('./Photos/containerGameBlueBG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;    
  align-items: center;
}

.content-box {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: #f9f9f9;
  width: 40%;
  height: 28%;
  font-family: 'Jockey One';
}

.title-not-found {
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  top: 3%;
  margin-top: 0%;
  font-size: 2.5rem;
  font-family: 'Jockey One';
}

.p-not-found {
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  top: -10%;
  margin-top: 0%;
  font-size: 2rem;
  font-family: 'Jockey One';
}


.backButtonNotFound {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 6.2%;
  height: 11%;
  background: url('./Photos/BackButtonImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  transition: transform .4s ease;
}

.backButtonNotFound:hover {
  transform: scale(1.1); 
  filter: brightness(70%);
}
}