.containerResultPage {
    background-color: #EDEDED;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.sycuresLogoGameResultPage {
    position: absolute;
    height: auto;
    right: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.resultBoxResultPageBG {
    position: relative;
    background-color: rgba(27, 122, 143, 0.6);
    width: 100%;
    height: 55%;
    margin-top: 17%;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: visible;
}

.resultBoxResultPage {
    position: relative;
    background-color: #B1D4DC;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
    height: 115%;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.column {
    flex: 1;
}

.headerTextResultPage {
    font-weight: bold;
    margin-top: 0%;
    color: #1F144B;
    font-family: 'Inter', sans-serif;
}

.scoreBoxResultPage {
    background-color: #1F144B;
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2rem;
}

.timeBoxResultPage {
    background-color: #1F144B;
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.resultTryAgain {
    background-color: #1F144B;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    border-radius: 16px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.messageResultPage {
    position: relative;
    background-color: #1F144B;
    color: white;
    height: 100%;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    border-radius: 16px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 24px 10px 24px 10px;
}

.messageResultPage p {
    position: relative;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-top: 0%;
}

.messageResultPageMessage {
    position: relative;
    width: 90%;
    height: auto;
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.backButtonResultPage {
    position: absolute;
    background: url("./Photos/BackButtonImage2.jpg");
    background-size: cover;
    cursor: pointer;
    border: none;
    border-radius: 16px;
    transition: transform .4s ease;
}

.backButtonResultPage:hover {
    transform: scale(1.1);
    filter: brightness(70%);
}

/* Styles for screens(xs) */
@media screen and (max-width: 639px) {
    .sycuresLogoGameResultPage {
        width: 55vw;
        top: 5%;
    }

    .resultBoxResultPage {
        width: 90%;
    }

    .column {
        padding: 30px;
    }

    .headerTextResultPage {
        font-size: 1.8rem;
        margin-bottom: 6%;
    }

    .scoreBoxResultPage {
        width: 85%;
        padding: 30px 10px;
        font-size: 2.2rem;
    }

    .timeBoxResultPage {
        width: 85%;
        padding: 30px 10px;
        font-size: 2.2rem;
        margin-top: 10%;
    }

    .resultTryAgain {
        width: 60%;
        padding: 5px;
        font-size: 1.5rem;
    }

    .messageResultPage {
        width: 100%;
        font-size: 2rem;
    }

    .messageResultPage p {
        font-size: .9rem;
    }

    .messageResultPageMessage {
        font-size: .8rem;
        top: 0%;
        margin-top: 3%;
    }

    .backButtonResultPage {
        top: 1%;
        left: 2%;
        width: 14vw;
        height: 6vh;
    }
}

/* Styles for screens(sm) */
@media screen and (min-width: 640px) {
    .sycuresLogoGameResultPage {
        width: 53%;
        top: 0%;
    }

    .resultBoxResultPage {
        width: 90%;
    }

    .column {
        padding: 30px;
    }

    .headerTextResultPage {
        font-size: 2.4rem;
        margin-bottom: 2%;
    }

    .scoreBoxResultPage {
        width: 85%;
        padding: 45px 10px;
        font-size: 3rem;
    }

    .timeBoxResultPage {
        width: 85%;
        padding: 45px 10px;
        font-size: 3rem;
    }

    .resultTryAgain {
        width: 40%;
        padding: 10px;
        font-size: 2.1rem;
    }

    .messageResultPage {
        width: 85%;
        font-size: 2rem;
    }

    .messageResultPage p {
        font-size: 1.4rem;
    }

    .messageResultPageMessage {
        font-size: 1.3rem;
        margin-top: 3%;
        margin-bottom: 0%;
    }

    .backButtonResultPage {
        top: 2%;
        left: 2%;
        width: 12vw;
        height: 8vh;
    }
}

/* Styles for screens(md) */
@media screen and (min-width: 768px) {
    .sycuresLogoGameResultPage {
        width: 47%;
        top: 0%;
    }

    .resultBoxResultPage {
        width: 90%;
    }

    .column {
        padding: 30px;
    }

    .headerTextResultPage {
        font-size: 2.5rem;
        margin-bottom: 2%;
    }

    .scoreBoxResultPage {
        width: 85%;
        padding: 40px 10px;
        font-size: 3rem;
    }

    .timeBoxResultPage {
        width: 85%;
        padding: 40px 10px;
        font-size: 3rem;
    }

    .resultTryAgain {
        width: 40%;
        padding: 10px;
        font-size: 2.2rem;
    }

    .messageResultPage {
        width: 85%;
        font-size: 2rem;
    }

    .messageResultPage p {
        font-size: 1.5rem;
    }

    .messageResultPageMessage {
        font-size: 1.3rem;
        top: 0%;
        margin-top: 3%;
    }

    .backButtonResultPage {
        top: 2%;
        left: 2%;
        width: 11vw;
        height: 9vh;
    }
}

/* Styles for screens(lg) */
@media screen and (min-width: 1024px) {
    .sycuresLogoGameResultPage {
        width: 38%;
        top: 0%;
    }

    .resultBoxResultPage {
        width: 80%;
    }

    .column {
        padding: 30px;
    }

    .headerTextResultPage {
        font-size: 2.5rem;
        margin-bottom: 2%;
    }

    .scoreBoxResultPage {
        width: 85%;
        padding: 40px 10px;
        font-size: 3rem;
    }

    .timeBoxResultPage {
        width: 85%;
        padding: 40px 10px;
        font-size: 3rem;
    }

    .resultTryAgain {
        width: 40%;
        padding: 10px;
        font-size: 2.3rem;
    }

    .messageResultPage {
        width: 85%;
        font-size: 2rem;
    }

    .messageResultPage p {
        font-size: 2rem;
    }

    .messageResultPageMessage {
        font-size: 1.5rem;
        top: 0%;
        margin-top: 3%;
    }

    .backButtonResultPage {
        top: 2%;
        left: 2%;
        width: 9vw;
        height: 9vh;
    }
}

/* Styles for screens(xl) */
@media screen and (min-width: 1280px) {
    .sycuresLogoGameResultPage {
        width: 33%;
        top: 0%;
    }

    .resultBoxResultPage {
        width: 70%;
    }

    .column {
        padding: 30px;
    }

    .headerTextResultPage {
        font-size: 2.8rem;
        margin-bottom: 1%;
    }

    .scoreBoxResultPage {
        width: 85%;
        padding: 40px 10px;
        font-size: 3rem;
    }

    .timeBoxResultPage {
        width: 85%;
        padding: 40px 10px;
        font-size: 3rem;
    }

    .resultTryAgain {
        width: 40%;
        padding: 10px;
        font-size: 2.3rem;
    }

    .messageResultPage {
        width: 85%;
        font-size: 2rem;
    }

    .messageResultPage p {
        font-size: 2rem;
    }

    .messageResultPageMessage {
        font-size: 1.5rem;
        top: 0%;
        margin-top: 3%;
    }

    .backButtonResultPage {
        top: 2%;
        left: 1%;
        width: 7vw;
        height: 9vh;
    }
}

/* Styles for screens(2xl) */
@media screen and (min-width: 1536px) {
    .sycuresLogoGameResultPage {
        width: 30vw;
        top: 0%;
    }

    .resultBoxResultPage {
        width: 70%;
    }

    .column {
        padding: 30px;
    }

    .headerTextResultPage {
        font-size: 2.8rem;
        margin-bottom: 1%;
    }

    .scoreBoxResultPage {
        width: 75%;
        padding: 30px 10px;
        font-size: 3rem;
    }

    .timeBoxResultPage {
        width: 75%;
        padding: 50px 10px;
        font-size: 3rem;
    }

    .resultTryAgain {
        width: 40%;
        padding: 10px;
        font-size: 2.4rem;
    }

    .messageResultPage {
        width: 75%;
        font-size: 3rem;
    }

    .messageResultPage p {
        font-size: 2.4rem;
    }

    .messageResultPageMessage {
        font-size: 1.6rem;
        top: 5%;
        margin-top: 3%;
        margin-bottom: 1%;
    }

    .backButtonResultPage {
        top: 2%;
        left: 1%;
        width: 6vw;
        height: 9vh;
    }
}

/* Styles for screens(3xl) */
@media screen and (min-width: 1800px) {
    .sycuresLogoGameResultPage {
        width: 28%;
        top: 0%;
    }

    .resultBoxResultPage {
        width: 70%;
    }

    .column {
        padding: 10px;
    }

    .headerTextResultPage {
        font-size: 3rem;
        margin-bottom: 1%;
    }

    .scoreBoxResultPage {
        width: 75%;
        padding: 40px 10px;
        font-size: 3rem;
    }

    .timeBoxResultPage {
        width: 75%;
        padding: 60px 10px;
        font-size: 3rem;
    }

    .resultTryAgain {
        width: 40%;
        padding: 10px;
        font-size: 2.5rem;
    }

    .messageResultPage {
        width: 75%;
        font-size: 3rem;
    }

    .messageResultPage p {
        font-size: 3rem;
    }

    .messageResultPageMessage {
        font-size: 2rem;
        top: 5%;
        margin-top: 3%;
        margin-bottom: 1%;
    }

    .backButtonResultPage {
        top: 2%;
        left: 1%;
        width: 5vw;
        height: 9vh;
    }
}