/* Styles for screens(xs) */
@media screen and (max-width: 639px) {
    .containerResultPage {
        background-color: #EDEDED;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .sycuresLogoGameResultPage {
        position: absolute;
        height: auto;
        width: 55vw;
        top: 5%;
        right: 5%;
        left: 50%;
        transform: translateX(-50%);
    }

    .resultBoxResultPageBG {
        position: relative;
        background-color: rgba(27, 122, 143, 0.6);
        width: 100%;
        height: 55%;
        margin-top: 17%;
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: visible;
    }

    .resultBoxResultPage {
        position: relative;
        background-color: #B1D4DC;
        border-radius: 20px;
        text-align: center;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
        width: 90%;
        height: 115%;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
    }

    .column {
        flex: 1;
        padding: 30px;
    }

    .headerTextResultPage {
        font-size: 1.8rem;
        font-weight: bold;
        margin-top: 10%;
        margin-bottom: 6%;
        color: #1F144B;
        font-family: 'Inter', sans-serif;
    }

    .scoreBoxResultPage {
        background-color: #1F144B;
        color: white;
        width: 85%;
        padding: 30px 10px;
        font-size: 2.2rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 2rem;
    }

    .timeBoxResultPage {
        background-color: #1F144B;
        color: white;
        width: 85%;
        padding: 30px 10px;
        font-size: 2.2rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: -1rem;
        margin-bottom: 1.5rem;
    }

    .resultTryAgain {
        background-color: #1F144B;
        width: 70%;
        padding: 5px;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 50px;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
    }

    .messageResultPage {
        position: relative;
        background-color: #1F144B;
        color: white;
        width: 100%;
        height: 100%;
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }

    .messageResultPage p {
        position: relative;
        color: white;
        font-size: .9rem;
        font-weight: bold;
        text-align: center;
        font-family: 'Inter', sans-serif;
        top: 0%;
    }

    .messageResultPageMessage {
        position: relative;
        width: 90%;
        height: auto;
        color: white;
        font-size: .8rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        top: 0%;
        margin-top: 3%;
    }

    .backButtonResultPage {
        position: absolute;
        top: 1%;
        left: 2%;
        width: 14vw;
        height: 6vh;
        background: url("./Photos/BackButtonImage2.jpg");
        background-size: cover;
        cursor: pointer;
        border: none;
        border-radius: 16px;
        transition: transform .4s ease;
    }

    .backButtonResultPage:hover {
        transform: scale(1.1);
        filter: brightness(70%);
    }
}

/* Styles for screens(sm) */
@media screen and (min-width: 640px) {
    .containerResultPage {
        background-color: #EDEDED;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .sycuresLogoGameResultPage {
        position: absolute;
        height: auto;
        width: 53%;
        top: 0%;
        right: 5%;
        left: 50%;
        transform: translateX(-50%);
    }

    .resultBoxResultPageBG {
        position: relative;
        background-color: rgba(27, 122, 143, 0.6);
        width: 100%;
        height: 55%;
        margin-top: 17%;
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: visible;
    }

    .resultBoxResultPage {
        position: relative;
        background-color: #B1D4DC;
        border-radius: 20px;
        text-align: center;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
        width: 90%;
        height: 115%;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
    }

    .column {
        flex: 1;
        padding: 30px;
    }

    .headerTextResultPage {
        font-size: 2.4rem;
        font-weight: bold;
        margin-top: 0%;
        margin-bottom: 2%;
        color: #1F144B;
        font-family: 'Inter', sans-serif;
    }

    .scoreBoxResultPage {
        background-color: #1F144B;
        color: white;
        width: 85%;
        padding: 45px 10px;
        font-size: 3rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 2rem;
    }

    .timeBoxResultPage {
        background-color: #1F144B;
        color: white;
        width: 85%;
        padding: 45px 10px;
        font-size: 3rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: -1rem;
        margin-bottom: 1rem;
    }

    .resultTryAgain {
        background-color: #1F144B;
        width: 50%;
        padding: 10px;
        font-size: 2.1rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 50px;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
    }

    .messageResultPage {
        position: relative;
        background-color: #1F144B;
        color: white;
        width: 85%;
        height: 100%;
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: auto;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .messageResultPage p {
        position: relative;
        color: white;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
        font-family: 'Inter', sans-serif;
        top: 0%;
    }

    .messageResultPageMessage {
        position: relative;
        width: 90%;
        height: auto;
        color: white;
        font-size: 1.3rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        top: 0%;
        margin-top: 3%;
        margin-bottom: 0%;
    }

    .backButtonResultPage {
        position: absolute;
        top: 2%;
        left: 2%;
        width: 12vw;
        height: 8vh;
        background: url("./Photos/BackButtonImage2.jpg");
        background-size: cover;
        cursor: pointer;
        border: none;
        border-radius: 16px;
        transition: transform .4s ease;
    }

    .backButtonResultPage:hover {
        transform: scale(1.1);
        filter: brightness(70%);
    }
}

/* Styles for screens(md) */
@media screen and (min-width: 768px) {
    .containerResultPage {
        background-color: #EDEDED;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .sycuresLogoGameResultPage {
        position: absolute;
        height: auto;
        width: 47%;
        top: 0%;
        right: 5%;
        left: 50%;
        transform: translateX(-50%);
    }

    .resultBoxResultPageBG {
        position: relative;
        background-color: rgba(27, 122, 143, 0.6);
        width: 100%;
        height: 55%;
        margin-top: 17%;
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: visible;
    }

    .resultBoxResultPage {
        position: relative;
        background-color: #B1D4DC;
        border-radius: 20px;
        text-align: center;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
        width: 90%;
        height: 115%;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
    }

    .column {
        flex: 1;
        padding: 30px;
    }

    .headerTextResultPage {
        font-size: 2.5rem;
        font-weight: bold;
        margin-top: 0%;
        margin-bottom: 2%;
        color: #1F144B;
        font-family: 'Inter', sans-serif;
    }

    .scoreBoxResultPage {
        background-color: #1F144B;
        color: white;
        width: 85%;
        padding: 40px 10px;
        font-size: 3rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 2rem;
    }

    .timeBoxResultPage {
        background-color: #1F144B;
        color: white;
        width: 85%;
        padding: 40px 10px;
        font-size: 3rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: -1rem;
        margin-bottom: 1rem;
    }

    .resultTryAgain {
        background-color: #1F144B;
        width: 50%;
        padding: 10px;
        font-size: 2.2rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 50px;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
    }

    .messageResultPage {
        position: relative;
        background-color: #1F144B;
        color: white;
        width: 85%;
        height: 100%;
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 20px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }

    .messageResultPage p {
        position: relative;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        font-family: 'Inter', sans-serif;
        top: 0%;
    }

    .messageResultPageMessage {
        position: relative;
        width: 90%;
        height: auto;
        color: white;
        font-size: 1.3rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        top: 0%;
        margin-top: 3%;
    }

    .backButtonResultPage {
        position: absolute;
        top: 2%;
        left: 2%;
        width: 11vw;
        height: 9vh;
        background: url("./Photos/BackButtonImage2.jpg");
        background-size: cover;
        cursor: pointer;
        border: none;
        border-radius: 16px;
        transition: transform .4s ease;
    }

    .backButtonResultPage:hover {
        transform: scale(1.1);
        filter: brightness(70%);
    }
}

/* Styles for screens(lg) */
@media screen and (min-width: 1024px) {
    .containerResultPage {
        background-color: #EDEDED;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .sycuresLogoGameResultPage {
        position: absolute;
        height: auto;
        width: 38%;
        top: 0%;
        right: 5%;
        left: 50%;
        transform: translateX(-50%);
    }

    .resultBoxResultPageBG {
        position: relative;
        background-color: rgba(27, 122, 143, 0.6);
        width: 100%;
        height: 55%;
        margin-top: 17%;
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: visible;
    }

    .resultBoxResultPage {
        position: relative;
        background-color: #B1D4DC;
        border-radius: 20px;
        text-align: center;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
        width: 80%;
        height: 115%;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
    }

    .column {
        flex: 1;
        padding: 30px;
    }

    .headerTextResultPage {
        font-size: 2.5rem;
        font-weight: bold;
        margin-top: 0%;
        margin-bottom: 2%;
        color: #1F144B;
        font-family: 'Inter', sans-serif;
    }

    .scoreBoxResultPage {
        background-color: #1F144B;
        color: white;
        width: 85%;
        padding: 40px 10px;
        font-size: 3rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 2rem;
    }

    .timeBoxResultPage {
        background-color: #1F144B;
        color: white;
        width: 85%;
        padding: 40px 10px;
        font-size: 3rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: -1rem;
        margin-bottom: 1rem;
    }

    .resultTryAgain {
        background-color: #1F144B;
        width: 50%;
        padding: 10px;
        font-size: 2.3rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 50px;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
    }

    .messageResultPage {
        position: relative;
        background-color: #1F144B;
        color: white;
        width: 85%;
        height: 100%;
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 20px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }

    .messageResultPage p {
        position: relative;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        font-family: 'Inter', sans-serif;
        top: 0%;
    }

    .messageResultPageMessage {
        position: relative;
        width: 90%;
        height: auto;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        top: 0%;
        margin-top: 3%;
    }

    .backButtonResultPage {
        position: absolute;
        top: 2%;
        left: 2%;
        width: 9vw;
        height: 9vh;
        background: url("./Photos/BackButtonImage2.jpg");
        background-size: cover;
        cursor: pointer;
        border: none;
        border-radius: 16px;
        transition: transform .4s ease;
    }

    .backButtonResultPage:hover {
        transform: scale(1.1);
        filter: brightness(70%);
    }
}

/* Styles for screens(xl) */
@media screen and (min-width: 1280px) {
    .containerResultPage {
        background-color: #EDEDED;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .sycuresLogoGameResultPage {
        position: absolute;
        height: auto;
        width: 33%;
        top: 0%;
        right: 5%;
        left: 50%;
        transform: translateX(-50%);
    }

    .resultBoxResultPageBG {
        position: relative;
        background-color: rgba(27, 122, 143, 0.6);
        width: 100%;
        height: 55%;
        margin-top: 17%;
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: visible;
    }

    .resultBoxResultPage {
        position: relative;
        background-color: #B1D4DC;
        border-radius: 20px;
        text-align: center;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
        width: 70%;
        height: 115%;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
    }

    .column {
        flex: 1;
        padding: 30px;
    }

    .headerTextResultPage {
        font-size: 2.8rem;
        font-weight: bold;
        margin-top: 0%;
        margin-bottom: 1%;
        color: #1F144B;
        font-family: 'Inter', sans-serif;
    }

    .scoreBoxResultPage {
        background-color: #1F144B;
        color: white;
        width: 85%;
        padding: 40px 10px;
        font-size: 3rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 2rem;
    }

    .timeBoxResultPage {
        background-color: #1F144B;
        color: white;
        width: 85%;
        padding: 40px 10px;
        font-size: 3rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: -1rem;
        margin-bottom: 1rem;
    }

    .resultTryAgain {
        background-color: #1F144B;
        width: 50%;
        padding: 10px;
        font-size: 2.3rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 50px;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
    }

    .messageResultPage {
        position: relative;
        background-color: #1F144B;
        color: white;
        width: 85%;
        height: 100%;
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 20px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }

    .messageResultPage p {
        position: relative;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        font-family: 'Inter', sans-serif;
        top: 0%;
    }

    .messageResultPageMessage {
        position: relative;
        width: 90%;
        height: auto;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        top: 0%;
        margin-top: 3%;
    }

    .backButtonResultPage {
        position: absolute;
        top: 2%;
        left: 1%;
        width: 7vw;
        height: 9vh;
        background: url("./Photos/BackButtonImage2.jpg");
        background-size: cover;
        cursor: pointer;
        border: none;
        border-radius: 16px;
        transition: transform .4s ease;
    }

    .backButtonResultPage:hover {
        transform: scale(1.1);
        filter: brightness(70%);
    }
}

/* Styles for screens(2xl) */
@media screen and (min-width: 1536px) {
    .containerResultPage {
        background-color: #EDEDED;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .sycuresLogoGameResultPage {
        position: absolute;
        height: auto;
        width: 30vw;
        top: 0%;
        right: 5%;
        left: 50%;
        transform: translateX(-50%);
    }

    .resultBoxResultPageBG {
        position: relative;
        background-color: rgba(27, 122, 143, 0.6);
        width: 100%;
        height: 55%;
        margin-top: 17%;
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: visible;
    }

    .resultBoxResultPage {
        position: relative;
        background-color: #B1D4DC;
        border-radius: 50px;
        text-align: center;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
        width: 70%;
        height: 115%;
        margin-top: 0%;
        display: flex;
        justify-content: space-between;
    }

    .column {
        flex: 1;
        padding: 30px;
    }

    .headerTextResultPage {
        font-size: 2.8rem;
        font-weight: bold;
        margin-top: 0rem;
        margin-bottom: 1%;
        color: #1F144B;
        font-family: 'Inter', sans-serif;
    }

    .scoreBoxResultPage {
        background-color: #1F144B;
        color: white;
        width: 75%;
        padding: 50px 10px;
        font-size: 3rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 10px;
        margin-top: -1rem;
        margin-bottom: 0.5rem;
    }

    .timeBoxResultPage {
        background-color: #1F144B;
        color: white;
        width: 75%;
        padding: 50px 10px;
        font-size: 3rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 10px;
        margin-top: -1rem;
        margin-bottom: 1rem;
    }

    .resultTryAgain {
        background-color: #1F144B;
        width: 50%;
        padding: 10px;
        font-size: 2.4rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 50px;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
    }

    .messageResultPage {
        position: relative;
        background-color: #1F144B;
        color: white;
        width: 75%;
        height: auto;
        font-size: 3rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 10px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: auto;
        margin-top: 2%;
        padding: 0px 0px 40px 0px;
    }

    .messageResultPage p {
        position: relative;
        color: white;
        font-size: 2.4rem;
        font-weight: bold;
        text-align: center;
        font-family: 'Inter', sans-serif;
        margin-top: 2%;
    }

    .messageResultPageMessage {
        position: relative;
        width: 90%;
        height: auto;
        color: white;
        font-size: 1.6rem;
        font-weight: bold;
        font-family: 'Inter';
        top: 5%;
        margin-top: 3%;
        margin-bottom: 1%;
    }

    .backButtonResultPage {
        position: absolute;
        top: 2%;
        left: 1%;
        width: 6vw;
        height: 9vh;
        background: url("./Photos/BackButtonImage2.jpg");
        background-size: cover;
        cursor: pointer;
        border: none;
        border-radius: 16px;
        transition: transform .4s ease;
    }

    .backButtonResultPage:hover {
        transform: scale(1.1);
        filter: brightness(70%);
    }
}

/* Styles for screens(3xl) */
@media screen and (min-width: 1800px) {
    .containerResultPage {
        background-color: #EDEDED;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .sycuresLogoGameResultPage {
        position: absolute;
        height: auto;
        width: 28%;
        top: 0%;
        right: 5%;
        left: 50%;
        transform: translateX(-50%);
    }

    .resultBoxResultPageBG {
        position: relative;
        background-color: rgba(27, 122, 143, 0.6);
        width: 100%;
        height: 55%;
        margin-top: 17%;
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: visible;
    }

    .resultBoxResultPage {
        position: relative;
        background-color: #B1D4DC;
        border-radius: 50px;
        text-align: center;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
        width: 70%;
        height: 115%;
        margin-top: 0%;
        display: flex;
        justify-content: space-between;
    }

    .column {
        flex: 1;
        padding: 10px;
    }

    .headerTextResultPage {
        font-size: 3rem;
        font-weight: bold;
        margin-top: 0rem;
        margin-bottom: 1%;
        color: #1F144B;
        font-family: 'Inter', sans-serif;
    }

    .scoreBoxResultPage {
        background-color: #1F144B;
        color: white;
        width: 75%;
        padding: 60px 10px;
        font-size: 3rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 10px;
        margin-top: -1rem;
        margin-bottom: 1rem;
    }

    .timeBoxResultPage {
        background-color: #1F144B;
        color: white;
        width: 75%;
        padding: 60px 10px;
        font-size: 3rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 10px;
        margin-top: -1rem;
        margin-bottom: 1rem;
    }

    .resultTryAgain {
        background-color: #1F144B;
        width: 50%;
        padding: 10px;
        font-size: 2.5rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        border-radius: 50px;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
    }

    .messageResultPage {
        position: relative;
        background-color: #1F144B;
        color: white;
        width: 75%;
        height: auto;
        font-size: 3rem;
        font-weight: bold;
        font-family: 'Jockey One';
        border-radius: 10px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: auto;
        margin-top: 2%;
        padding: 0px 0px 40px 0px;
    }

    .messageResultPage p {
        position: relative;
        color: white;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        font-family: 'Inter', sans-serif;
        margin-top: 2%;
    }

    .messageResultPageMessage {
        position: relative;
        width: 90%;
        height: auto;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        top: 5%;
        margin-top: 3%;
        margin-bottom: 1%;
    }

    .backButtonResultPage {
        position: absolute;
        top: 2%;
        left: 1%;
        width: 5vw;
        height: 9vh;
        background: url("./Photos/BackButtonImage2.jpg");
        background-size: cover;
        cursor: pointer;
        border: none;
        border-radius: 16px;
        transition: transform .4s ease;
    }

    .backButtonResultPage:hover {
        transform: scale(1.1);
        filter: brightness(70%);
    }
}